<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/xxx.css">
</head>
<body>
<div id="itemlist">
<h1>商品一覧</h1>
<form th:each="item, status:${application.itemList}" th:action="@{/ex06/in-cart}" method="post">
<input type="hidden" name="numberToAdd" th:value="${status.index}">
<span th:text="${item.name}"></span>
<span th:text="${#numbers.formatInteger(item.price, 0, 'COMMA')}+円"></span>
<button>カートへ</button>
</form>
</div>
<div id="cart">
</div>

</body>
</html>